body {
    display: flex;
    justify-content: center;
    background-color: cyan;
}

.container {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 20px;
    border: 10px solid black;
    border-radius: 10px;
    margin-top: 50px;
    background-color: yellow;
}

.campos {
    display: flex;
    flex-direction: column;
}

.campos input {
    margin-bottom: 10px;
}